@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo|Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo|Fjalla+One|Kalam&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

body{
    padding:0;
    margin-top :20px;
    margin-left: 10px;
    background-image: url('../images/blackbg.jpg');
    /*background-image: linear-gradient(to right,rgb(22, 21, 21),rgb(56, 55, 58));*/
    overflow-x: hidden;
}

.nav-bar{
    float: right;
}

.side-social{
    position: fixed;
    z-index: 5;
    width:auto;
    margin-top: 150px;
}
.side-icons{
    width: 60px;
    display: list-item;
    padding:10px 10px 15px 10px;
    /*background-color: black;*/
    opacity: 0.8;
    transition: 0.2s ease;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.side-icons:hover{
    border-right: solid aqua 0px;
    transform:scale(1.1);
}

.welcome{
    display: flex;
}
.welcome1{
    width: 50%;
    margin-left: 10px;
    margin-top: 50px;
    z-index: 1;
}
.cv{
    margin-left: 45%;
}
.welcome2{
    width: 50%;
    position: absolute;
    z-index: 10;
    margin-left: 40%;
}
.name{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 500%;
}
.tags{
    text-align: right;
    color: rgb(126, 118, 118);
    vertical-align: left;
    line-height: 20px;
    padding: 25px;
    font-family: 'Exo', sans-serif;
    font-size: 20px;
}
.page{
    display: flex;
}
.photo1{
    margin-left: 32%;
}
.photo2{
    margin-left: 35%;
}

.web1{
    z-index: 1;
}
.web2{
    margin-left: 0%;
    margin-top: 60px;
    position: absolute;
    z-index: 10;
}